.row
{
    margin-left: 0px!important;
    margin-right: 0px!important;
}
body{
    font-family: Product Sans!important;
    background: #F7FAFF!important;
}
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }
  
.headerFontStyle{
    font-family: Product Sans;
    font-weight: bold;
    font-size: 30px;
    color: #541871;
}

.hadermenu{
    background-color : white;
}
.container-fluid{
    font-family: Product Sans;
    background-color: #F7FAFF;
}

.maincontain{
    padding-left: 50px;
    padding-top: 15px;
}
.navbar{
    height: auto !important;
    border-radius: 5px;
    background-color : white;
    margin-right: 12px;
    width: auto;
}

.contain{
    border-radius: 5px;
    background-color : white;
    width: auto;
    height: auto !important;
}

.menuicon{
    padding: 23px;
    margin-bottom: 10px;
}

.search{
    padding-top: 14px;
}
.search input {
    border: none;
    background-color: #F7F7F7;
    border-right: 0.4px solid #E6EDEF;
}
.logdiv
{
    padding: 18px 7px 7px 0px;   
} 
.btnlogin
{
    float: left;
    height: 28px!important;
    width: 60px!important;
    padding-top: 2px!important;
    border-radius: 9px!important;
    background-color: #541871!important;
    outline: none!important;
    border:none!important;
    color: #ffffff!important;
    font-weight: 500!important;
    font-size: 14px!important;
}
.opt
{
     padding: 16px 7px 7px 7px;
}
.seloption
{
    border:none!important;
     border-radius: 8px!important;
     background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    padding: 4px;
    height: 35px;
}
.ibasket
{
    clear: both;
    font-size: 15px;
    padding-left: 10px;
    cursor: pointer;
}
.opt2
{
     padding: 16px 7px 7px 50px;
}
.menutitle
{
    padding: 18px 0px 0px 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}
.menulist ul
{
    margin: 0px;
    padding: 0px;   
}
.menulist ul li
{
    cursor: pointer;
  width: 100%;
    padding: 7px 7px 7px 25px;
    list-style: none;
}
.menulist ul{
    width: 100%;
}
.menulist ul li a
{
    text-decoration: none;
    color: #242A4B;
    text-align: left;
}
.active
{
      width: 100%;
    border-left: 2px solid #541871;
    background: #F5EFFC no-repeat padding-box;
}
.wrap:after {
    content:"\f13a ";
    font-family: FontAwesome;
    position: absolute; 
    pointer-events: none;    
}
.navtitle1
{
    color: #000;
    padding: 18px 0px 0px 10px;
    font-size: 18px;
    letter-spacing: 1px;
}
.navtitle2
{
    color: #541871;
    padding: 18px 0px 0px 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}
.suboption
{
    padding:18px 1px 0px 10px;
}
.optn1
{ 
     border-radius: 5px!important;
    opacity: 1;
    padding: 4px;
    height: 35px;
}
.options
{
    padding-left: 56px!important;
}
.itemimg
{
    padding-left: 5px!important;
     width: 210px;
     position: absolute;
}
.offer
{
    position: relative;
    background-color: #0DBA35;
    color: white;
    font-weight: 500;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0.9;
    margin-left: 20px;
    margin-top: 50px!important;
}
.details{
    position: relative;
    padding-top: 70px;
    color: white;
    margin-left: 20px;
}
.subProductImage{
    border-radius: 3px;
    width: 100px;
}
.subProductFont{
    font-weight: 600;
    font-size: 15px;
    color : #242A4B;
}

.subDesProductFont{
    text-align: left;
    font-size: 13px;
    color: #858AA8;
    opacity: 0.9;
}
.subSubDesProductFont{
    text-align: left;
    font-size: 11px;
    color: #858AA8;
    opacity: 0.9;
}
.subProductOffer{
    text-align: left;
    font-size: 11px;
    color: #0DBA35;
    opacity: 0.9;
}